.bgWhite1 {
  background-color: (255, 255, 255);
}

.bgGrey1 {
  background-color: rgb(48, 48, 48);
}
.bgGrey2 {
  background-color: rgb(51, 58, 64);
}
.bgGrey3 {
  background-color: rgb(84, 84, 84);
}
.bgGrey4 {
  background-color: rgb(150, 150, 150);
}
.bgGrey5 {
  background-color: rgb(200, 200, 200);
}

.bgBlack1 {
  background-color: rgb(0, 0, 0);
}
.bgBlack2 {
  background-color: rgb(12, 12, 12);
}
.bgBlack3 {
  background-color: rgb(24, 24, 24);
}

.bgBlue1 {
  background-color: rgb(0, 123, 255);
}

.colorWhite1 {
  color: rgb(255, 255, 255);
}

.colorGrey1 {
  color: rgb(48, 48, 48);
}
.colorGrey2 {
  color: rgb(51, 58, 64);
}
.colorGrey3 {
  color: rgb(105, 105, 105);
}
.colorGrey4 {
  color: rgb(150, 150, 150);
}
.colorGrey5 {
  color: rgb(200, 200, 200);
}

.colorBlack1 {
  color: rgb(0, 0, 0);
}
.colorBlack2 {
  color: rgb(12, 12, 12);
}
.colorBlack3 {
  color: rgb(24, 24, 24);
}

.colorBlue1 {
  color: rgb(0, 123, 255);
}
