.bgMyBlack {
  background-color: rgb(51, 58, 64);
}
.bgMyBlue {
  background-color: rgb(0, 123, 252);
}
.bgBlack {
  background-color: rgb(0, 0, 0);
}
.bgBlue {
  background-color: rgb(0, 123, 255);
}

.colorWhite {
  color: rgb(255, 255, 255);
}
.colorGrey White {
  color: rgb(255, 255, 255);
}
.colorBlack {
  color: rgb(0, 0, 0);
}
