.txtcenter {
  text-align: center;
}

.txtjustify {
  text-align: justify;
}

.txtjustifycenter {
  text-align: justify;
  text-align-last: center;
}

.txtverticalmiddle {
  display: flex;
  justify-content:  center;
  align-items: center;
}
